<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="/home" type="button" class="btn btn-default">Home</a>
  </div>
  <div class="btn-group" role="group">
    <a href='/about' type="button" class="btn btn-default">About</a>
  </div>
  <div class="btn-group rcorners" role="group">
    <a href='projects' type="button" class="btn btn-default">Projects</a>
  </div>
  <div class="btn-group" role="group">
    <a href='contact' type="button" class="btn btn-default">Contact</a>
  </div>
</div>
