    <div class="col-md-12">
      <div class="center">
        <%= image_tag "artpic.jpg", :class => "round-pic relative" %>
      </div>
    </div>
  <div class="col-md-12 name-bar-bg">
        Art Garcia Jr
  </div>
  <div class="col-md-12">
    <div class="center q-box">
    <p style="font-size:80px" "font-family:exo-black-webfont">
      DISCIPLINE
    </p>
    <p style="font-size:32px" "font-family:exoblack">
      is just choosing between
    </p>
    <p style="font-size:50px" "font-family:verdana">
      what you want
    </p>
    <p style="font-size:70px" "font-family:verdana">
      NOW
    </p>
    <p style="font-size:60px" "font-family:verdana">
      and
    </p>
    <p style="font-size:50px" "font-family:verdana">
      what you want
    </p>
    <p style="font-size:70px" "font-family:verdana">
      MOST
    </p>
  </div>
  </div>
  </div>
