<div class="name-bar-bg">
  <div class="col-md-4">
      <%= image_tag "artpic.jpg", :class => "round-pic" %>
  </div>
  <div class="col-md-6">
        Art Garcia Jr
  </div>
</div>

<div class="huge">

</div>
