    <div class="col-md-12">
      <div class="relative">
        <%= image_tag "artpic.jpg", :class => "round-pic relative" %>
      </div>
    </div>
  <div class="col-md-12 name-bar-bg">
    <div class="relative">
        Art Garcia Jr
    </div>
  </div>

<div class="huge">

</div>
